In [2]:
import pandas as pd
df = pd.read_csv('crocodile_dataset.csv')

In [3]:
df.head()

,Observation ID,Common Name,Scientific Name,Family,Genus,Observed Length (m),Observed Weight (kg),Age Class,Sex,Date of Observation,Country/Region,Habitat Type,Conservation Status,Observer Name,Notes
0,1,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,1.90,62.0,Adult,Male,31-03-2018,Belize,Swamps,Least Concern,Allison Hill,Cause bill scientist nation opportunity.
1,2,American Crocodile,Crocodylus acutus,Crocodylidae,Crocodylus,4.09,334.5,Adult,Male,28-01-2015,Venezuela,Mangroves,Vulnerable,Brandon Hall,Ago current practice nation determine operatio...
2,3,Orinoco Crocodile,Crocodylus intermedius,Crocodylidae,Crocodylus,1.08,118.2,Juvenile,Unknown,07-12-2010,Venezuela,Flooded Savannas,Critically Endangered,Melissa Peterson,Democratic shake bill here grow gas enough ana...
3,4,Morelet's Crocodile,Crocodylus moreletii,Crocodylidae,Crocodylus,2.42,90.4,Adult,Male,01-11-2019,Mexico,Rivers,Least Concern,Edward Fuller,Officer relate animal direction eye bag do.
4,5,Mugger Crocodile (Marsh Crocodile),Crocodylus palustris,Crocodylidae,Crocodylus,3.75,269.4,Adult,Unknown,15-07-2019,India,Rivers,Vulnerable,Donald Reid,Class great prove reduce raise author play mov...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Observation ID        1000 non-null   int64
 1   Common Name           1000 non-null   object
 2   Scientific Name       1000 non-null   object
 3   Family                1000 non-null   object
 4   Genus                 1000 non-null   object
 5   Observed Length (m)   1000 non-null   float64
 6   Observed Weight (kg)  1000 non-null   float64
 7   Age Class             1000 non-null   object
 8   Sex                   1000 non-null   object
 9   Date of Observation   1000 non-null   object
 10  Country/Region        1000 non-null   object
 11  Habitat Type          1000 non-null   object
 12  Conservation Status   1000 non-null   object
 13  Observer Name         1000 non-null   object
 14  Notes                 1000 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [5]:
import numpy as np
import os
os.environ["OMP_NUM_THREADS"] = "4"
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import KMeans
df = pd.read_csv("crocodile_dataset.csv")
df_model = df.drop(columns=[
    "Observation ID",
    "Observer Name",
    "Notes",
    "Date of Observation"
])
cat_cols = df_model.select_dtypes(include="object").columns
encoders = {}
for col in cat_cols:
    le = LabelEncoder()
    df_model[col] = le.fit_transform(df_model[col])
    encoders[col] = le
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df_model)
kmeans = KMeans(n_clusters=4,random_state=42,n_init=10)
df["Cluster"] = kmeans.fit_predict(X_scaled)
cluster_summary = df.groupby("Cluster")[
    ["Observed Length (m)", "Observed Weight (kg)"]].mean()

In [6]:
print("\nCluster Summary:")
print(cluster_summary)
print("\nCluster Counts:")
print(df["Cluster"].value_counts())

Cluster Summary:
         Observed Length (m)  Observed Weight (kg)
Cluster
0                   4.313197            557.604098
1                   2.388489            116.453477
2                   2.194300            107.586333
3                   1.457205             42.901863

Cluster Counts:
Cluster
1    417
2    300
3    161
0    122
Name: count, dtype: int64